*.cs        diff=csharp
*.csproj    diff=html
*.nuspec    diff=html
*.targets   diff=html
*.resx      diff=html
*.config    diff=html
*.xml       diff=html
*.html      diff=html
*.xib       diff=html
*.h         diff=cpp
*.cpp       diff=cpp
*.c         diff=cpp
*.java      diff=java
*.py        diff=python