[core]
	autocrlf = false
	editor = 'C:\\Program Files (x86)\\Notepad++\\notepad++.exe' -multiInst -nosession -noPlugin
[user]
	name = David Woods
	email = ***@hotmail.com
[github]
	user = ***
	token = ***
[merge]
  tool = p4merge
[mergetool "p4merge"]
	cmd = "p4merge.exe $BASE $LOCAL $REMOTE $MERGED"
[mergetool "SemanticMerge"]
  path = C:\\Users\\David\\AppData\\Local\\PlasticSCM4\\semanticmerge\\semanticmergetool.exe
  keepBackup = false
  trustExitCode = false
  cmd = \"C:\\Users\\David\\AppData\\Local\\PlasticSCM4\\semanticmerge\\semanticmergetool.exe\" -b=\"$BASE\" -d=\"$LOCAL\" -s=\"$REMOTE\" -r=\"$MERGED\" -l=csharp -emt=\"mergetool.exe -b=\"\"@basefile\"\" -bn=\"\"@basesymbolic\"\" -s=\"\"@sourcefile\"\" -sn=\"\"@sourcesymbolic\"\" -d=\"\"@destinationfile\"\" -dn=\"\"@destinationsymbolic\"\" -r=\"\"@output\"\" -t=\"\"@filetype\"\" -i=\"\"@comparationmethod\"\" -e=\"\"@fileencoding\"\"\" -edt=\"mergetool.exe  -s=\"\"@sourcefile\"\" -sn=\"\"@sourcesymbolic\"\" -d=\"\"@destinationfile\"\" -dn=\"\"@destinationsymbolic\"\" -t=\"\"@filetype\"\" -i=\"\"@comparationmethod\"\" -e=\"\"@fileencoding\"\"\"
[diff]
	tool = p4merge
[difftool "p4merge"]
	cmd = "p4merge.exe $LOCAL $REMOTE"
[difftool "SemanticMerge"]
  path = C:\\Users\\David\\AppData\\Local\\PlasticSCM4\\semanticmerge\\semanticmergetool.exe
  cmd = \"C:\\Users\\David\\AppData\\Local\\PlasticSCM4\\semanticmerge\\semanticmergetool.exe\" -s=$LOCAL -d=$REMOTE
[push]
	default = simple
[credential]
	helper = !'C:\\Users\\David\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[alias]
	logg = log --graph --full-history --all --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
	logd = log --graph --full-history --all --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%cr:% s\"
	logn = log --graph --full-history --all --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%cN:% s\"
	logt = log --graph --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%cN:% s\"
	dift = difftool
	difs = diff --stat
	dif = diff --color-words
	difc = diff --cached --color-words
	sub = submodule update
	wipe = reset --hard
